# ========================
# Dependencies
# ========================
node_modules/

# ========================
# Expo
# ========================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# ========================
# Native builds
# ========================
android/
ios/

# ========================
# Certificates & signing
# ========================
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# ========================
# Metro
# ========================
.metro-health-check*

# ========================
# Logs
# ========================
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# ========================
# Environment variables
# ========================
.env
.env.*
!.env.example

# ========================
# SQLite databases
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# Tests
# ========================
coverage/

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Misc
# ========================
*.orig.*

# ========================
# Example app
# ========================
app-example/

# ========================
# Local test data
# ========================
datatest.json